@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.forgot-password-page {
  height: 100vh;
  background: linear-gradient(180deg, #fff, #b8f3f8);
}

.title {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ip {
  display: flex;
  align-items: center;
  justify-content: end;
}

.icon {
  width: 64px;
  height: 64px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wn h1 {
  font-family: Inter;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.forgot-password-form {
  margin-top: 40px;
  width: 600px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-form p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  align-self: flex-start;
  margin-bottom: 8px;
  margin-top: 24px;
}

.email-input,
.security-code-input,
.new-password-input,
.confirm-password-input {
  width: 100%;
  max-width: 600px;
  height: 45px;
  margin-bottom: 8px;
  background: #eaeaea;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: Inter;
  padding: 0 16px;
  outline: none;
}

.get-security-code,
.reset-password {
  width: 320px;
  height: 49px;
  background: #8af6ff;
  color: black;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  margin: 24px 0 0 0;
  cursor: pointer;
  transition: background 0.2s;
}

.get-security-code:hover,
.reset-password:hover {
  background: #6be0eb;
} 