@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.login-page {
  height: 100vh;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(184, 243, 248));
}

.login-page p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.title {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ip {
  display: grid;
  justify-items: end;
}

.wn {
  padding-top: 20px;
}

.login-page h1 {
  font-family: Inter;
  font-size: large;
  font-weight: bold;
}

.icon {
  width: 64px;
  height: 64px;
  background-color: #8af6ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-weight: bold;
  font-size: 16px;
}

.email {
  margin: auto;
  width: 500px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Inter;
}

.u-text {
  margin: auto;
  width: 500px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Inter;
}

.personalinfor {
  margin-top: 100px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.login {
  margin: 100px auto 0;
  background-color: rgb(138, 246, 255);
  color: black;
  width: 294px;
  height: 49px;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.login:hover {
  background-color: rgb(118, 226, 235);
}

.login-register-btn {
  margin: 30px auto 0;
  background-color: rgb(138, 246, 255);
  color: black;
  width: 294px;
  height: 80px;
  border: none;
  border-radius: 20px;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  font-family: Inter;
  line-height: 1.2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.login-register-btn span {
  display: block;
  line-height: 1.1;
}

.login-register-btn:hover {
  background-color: rgb(118, 226, 235);
} 