@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.login-page {
  height: 100vh;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(184, 243, 248));
}

.login-page p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.title {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ip {
  display: grid;
  justify-items: end;
}

.wn {
  padding-top: 20px;
}

.login-page h1 {
  font-family: Inter;
  font-size: large;
  font-weight: bold;
}

.icon {
  width: 64px;
  height: 64px;
  background-color: #8af6ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-weight: bold;
  font-size: 16px;
}

.email {
  margin: auto;
  width: 500px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Inter;
}

.u-text {
  margin: auto;
  width: 500px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Inter;
}

.personalinfor {
  margin-top: 100px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.login {
  display: block;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(138, 246, 255);
  color: black;
  width: 294px;
  height: 49px;
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  font-family: Inter;
}

.login:hover {
  background-color: rgb(118, 226, 235);
}

.forgot-password-link {
  text-align: center;
  margin-top: 20px;
}

.forgot-password-link span {
  font-family: Inter;
  font-size: 16px;
  color: #0066cc;
  cursor: pointer;
  text-decoration: underline;
}

.forgot-password-link span:hover {
  color: #004499;
}

.register {
  display: block;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(138, 246, 255);
  color: black;
  width: 294px;
  height: 49px;
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  font-family: Inter;
}

.register:hover {
  background-color: rgb(118, 226, 235);
} 