@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.qrcode-page {
  height: 100vh;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(184, 243, 248));
  font-family: 'Inter', sans-serif;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-arrow {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
  z-index: 10;
}

.back-arrow:hover {
  color: #0066cc;
}

.account-overview-page h1 {
  font-family: Inter;
  font-size: medium;
  font-weight: bold;
}

.title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.wn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon {
  width: 64px;
  height: 64px;
  background-color: #8af6ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.ip {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrcode-page p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
  word-break: break-all;
  text-align: center;
  max-width: 90%;
}