
.Header-title {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.hip {
  display: flex;
  justify-content: center;
}

.hwn {
  padding-top: 20px;
}

.hicon {
  width: 54px;
  height: 54px;
  background-color: #8af6ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
}

/* Tablet styles */
@media (min-width: 768px) {
  .Header-title {
    margin-top: 80px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hip {
    justify-content: flex-end;
  }
  
  .hicon {
    width: 64px;
    height: 64px;
    font-size: 16px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .Header-title {
    max-width: 1000px;
  }
}